.admin-badge {
  background: linear-gradient(to right, #c0012a, #ff8800);
  color: white;
}

.admin-card {
  background: #181818;
  border: 1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 0 25px rgba(255, 136, 0, 0.08),
    0 0 15px rgba(245, 6, 29, 0.08);
}

.info-box {
  background: #202020;
  border: 1px solid rgba(255,255,255,0.05);
}

.mensagem-box {
  background: #202020;
  border: 1px solid rgba(255,255,255,0.05);
}

.mensagem-area {
  min-height: 220px;

  background: #121212;

  border: 1px solid rgba(255,255,255,0.08);
}

.status-select {
  background-color: #2a2a2a !important;
  color: white !important;

  border: 1px solid rgba(255,255,255,0.15) !important;

  min-width: 200px;
}

.status-select:focus {
  border-color: #ff8800 !important;

  box-shadow: 0 0 10px rgba(255,136,0,0.4) !important;
}

.mensagem-badge {
  background: rgba(245, 6, 29, 0.2);
  color: #ffb300;

  border: 1px solid rgba(255,255,255,0.08);

  padding: 10px 15px;
}

.responder-btn {
  background: linear-gradient(to right, #c0012a, #ff8800);
  border: none;

  transition: 0.3s;
}

.responder-btn:hover {
  transform: translateY(-2px);

  opacity: 0.9;
}